[submodule "arceos"]
	path = arceos
	url = https://github.com/starry-os-orangepi5p/arceos
	branch = orange
[submodule "module-local/axcpu"]
	path = module-local/axcpu
	url = https://github.com/starry-os-orangepi5p/axcpu
	branch = orange
[submodule "module-local/axplat-opi5p"]
	path = module-local/axplat-opi5p
	url = https://github.com/starry-os-orangepi5p/axplat-opi5p.git
[submodule "module-local/gpio_rk3588"]
	path = module-localgpio_rk3588/
	url = https://github.com/starry-os-orangepi5p/gpio_rk3588.git
[submodule "module-local/lwext4_rust"]
	path = module-local/lwext4_rust
	url = https://github.com/starry-os-orangepi5p/lwext4_rust.git
[submodule "module-local/axplat_crates"]
	path = module-local/axplat_crates
	url = https://github.com/starry-os-orangepi5p/axplat_crates
	branch = orange
[submodule "module-local/timer_rk3588"]
	path = module-local/timer_rk3588
	url = https://github.com/starry-os-orangepi5p/timer_rk3588.git
[submodule "module-local/gic_v3"]
	path = module-local/gic_v3
	url = https://github.com/starry-os-orangepi5p/gic_v3.git

